.stripe-payment-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.stripe-payment-form {
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #f4bd9a;
  width: 100%;
}

.stripe-payment-form h5 {
  margin: 0 0 5px 5px;
}

.stripe-payment-form h3 {
  margin: 0 0 20px 5px;
  color: #f4bd9a;
}
