$primaryColor: #FF4E24;
$primaryColor2: #60324B;
$secondaryColor: #FEC425;
$blueColor: #0070DA;
$blackColor: #000000;
$greyColor: #AAB7C4;
$whiteColor: #FFFFFF;
$lightColor: #F5F6FA;
$greenColor: #5DBA7C;